* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Raleway";
    font-size: 14px;
    background-color: hsl(229, 57%, 11%);
    min-height: 100%;
    overflow: hidden;
}

.desktop {
    bottom: 0;
    width: 100%;
    max-height: 50%;
}

.mobile {
    display: none;
}

.desktop, .mobile {
    position: absolute;
    z-index: -99;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: end;
}

.card {
    background-color: hsl(228, 56%, 26%);
    color: hsl(243, 100%, 93%);
    margin-right: 40px;
    border-radius: 5px;
    padding: 40px;
}

.first {
    border-top-right-radius: 100px;
    padding-right: 120px;
}

.first .icons {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
}

.first .icons span {
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.second {
    position: relative;
    width: 500px;
}

.second .usage .bold {
    font-weight: 700;
}

.second .size {
    background-color: white;
    color: hsl(229, 57%, 11%);
    position: absolute;
    top: -40px;
    right: 30px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
}

.size::after {
    content: "";
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    bottom: -19px;
    right: 0;
}

.second .size .remaining-space {
    display: flex;
    align-items: center;
}

.second .size .remaining-space {
    font-weight: 700;
    color: hsl(229, 7%, 55%);
}

.second .size .remaining-space .num {
    font-size: 40px;
    color: hsl(229, 57%, 11%);
    margin-right: 5px;
}


.second .bar {
    width: 100%;
    height: 15px;
    background-color: hsl(231, 55%, 18%);
    border-radius: 20px;
    margin: 10px 0;
}

.second .progress {
    display: inline-block;
    width: 81%;
    height: 10px;
    background: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;
    margin-left: 2px;
    position: relative;
}

.second .progress::after {
    content: "";
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 8px;
    height: 8px;   
    position: absolute;
    right: 2px;
    top: 1px;
}

.second .total-size {
    display: flex;
    justify-content: space-between;
}

.attribution { 
    text-align: center;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -40px;
    transition: .3s;
    background: linear-gradient(90deg, #ffa399, #ff4d97);
    background-size: 400% 400%;
    animation: moving 10s linear infinite;
}

@keyframes moving {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 

.container:hover +.attribution, .attribution:hover {
    bottom: 0;
}
.attribution a { color: hsl(228, 51%, 54%); }

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        min-height: 100%;
        width: 100%;
    }

    .content {
        display: block;
    }

    .card {
        max-width: 100%;
        margin: 0 25px 10px;
    }

    .second {
        width: auto;
    }

    .second .usage {
        text-align: center;
    }

    .second .size {
        top: auto;
        right: 100px;
        bottom: -40px;
        border-radius: 10px;
    }

    .second .size::after {
        display: none;
    }

    .attribution {
        font-size: 12px;
    }
}
